*{

    margin: 0;
    padding: 0;
}




header{

    background-color: #000000;
    color: #FFFFFF;

    display: flex;
justify-content: space-around;
padding: 24px 0;
font-size: 24;


}

.cabeçalho-lista-item{

display: inline-block;
margin: 0 16px;

}